<div class="top_main">
  <div class="home_search_area">
    <div class="search_area_word">
      <p>動物カフェを探しにいこう</p>
    </div>
    <%= form_with(url: shops_path, method: :get, scope: :search, local: true, class: "search_form") do |f| %>
      <%= f.text_field :address, class: "form-control", id: "home_search_address", placeholder: "エリアで検索" %>
      <% f.submit %>
    <% end %>
    <div class="explanation_link_wrap">
      <%= link_to "What is animal cafe?", about_path, class: "explanation_link" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <div class="app_explanation_area">
      <h3>animalcafeへようこそ!</h3>
      <p>animal cafeとは自分が行ったことのある動物カフェを</p>
      <p>投稿して、他の人と動物カフェを共有できるサービスです。</p>
      <p>近くの動物カフェをエリア検索して見つけることもできます。</p>
      <p>検索して気になったお店にはブックマークを<i class="fas fa-bookmark"></i></p>
      <p>実際に行ったお店にはクチコミを投稿できます<i class="far fa-comment"></i></p>
      <%= link_to icon("fas", "paw", "新規登録する"), signup_path, class: "btn btn-primary top_signup_btn" %>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="tag_search_area">
      <h2><i class="fas fa-tags"></i>タグから動物カフェを探す</h2>
      <% @animal_tags.each do |tag| %>
        <% tag_name = "#{tag.name}(#{tag.shops.count})" %>
        <%= link_to tag_name, tag_shops_path(tag) %>
      <% end %>
      <% @env_tags.each do |tag| %>
        <% tag_name = "#{tag.name}(#{tag.shops.count})" %>
        <%= link_to tag_name, tag_shops_path(tag) %>
      <% end %>
    </div>
  </div>
</div>
