<%= provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="login_frame">
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <%= f.label :email, "メールアドレス" %>
    <small>(テストユーザの方は「test_user@example.org」をご利用ください)</small>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password, "パスワード" %><small>(テストユーザの方は「password」をご利用ください)</small>
    <br><%= link_to "(パスワードをお忘れですか？)", new_password_reset_path %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :remember_me, class: "checkbox" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン状態を保持する</span>
    <% end %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>

  <p><%= link_to "新規登録はこちら", signup_path %></p>
</div>
