<li id="shop-<%= shop.id %>">
  <div class="row ">
    <div class="col-sm-4 col-sm-offset-2">
      <%= link_to shop do %>
        <% if shop.images.attached? %>
          <%= image_tag shop.images.first %>
        <% else %>
          <%= image_tag "noimage.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <div class="shop_name"><%= link_to shop.name, shop %></div>
      <div class="avg_score_wrap">
        <div class="avg_score_value"><%= shop.avg_score %></div>
        <div class="avg_score">
          <div class="avg_score_front" style="width: <%= shop.avg_score_percentage %>%">★★★★★</div>
          <div class="avg_score_back">★★★★★</div>
        </div>
        <div class="review_count">クチコミ: <%= shop.reviews.count %>件</div>
      </div>
      <div>
        <i class="fas fa-map-marker-alt"></i><span><%= shop.nearest_station %></span>
        <i class="far fa-clock"></i><span><%= shop.started_at.strftime("%H:%M") %>~<%= shop.closed_at.strftime("%H:%M") %></span>
      </div>
      <div class="timestamp">
        投稿日: <%= time_ago_in_words(shop.created_at) %>前
      </div>
      <% if current_user?(shop.user) %>
        <div class="manipulate_shop">
          <%= link_to "update", edit_shop_path(shop) %>
          | <%= link_to "delete", shop, method: :delete, data: { confirm: "You sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</li>
