<% provide(:title, @user.name) %>

<div class="row user_frame">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avater.attached? %>
          <%= image_tag @user.avater.variant(resize_to_fill: [100, 100]), class: "user_avater" %>
        <% else %>
          <%= image_tag "default.png", class: "default_avater" %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="scroll-nav-wrap">
  <div class="scroll-nav">
    <ul>
      <% if current_user?(@user) %>
        <li class="scroll-nav-list"><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
      <% end %>
      <li class="scroll-nav-list"><%= link_to "過去の投稿", href="#" %></li>
      <li class="scroll-nav-list"><%= link_to icon("fas", "thumbtack", "ピンした投稿"), href="#" %></li>
    </ul>
  </div>
</div>
<% if @user.shops.any? %>
  <div class="container user_post_frame_wrap">
    <div class="user_post_frame">
      <p>過去の投稿: <%= @user.shops.count %>件</p>
      <ol class="shops">
        <%= render @shops %>
      </ol>
    </div>
  </div>
<% end %>
