<header class="navbar navbar-fixed-top l-header">
  <div class="container">
    <%= link_to icon("fas", "dog", "ANIMAL CAFE"), root_path, id: "logo" %>
    <%= form_with(url: shops_path, method: :get, scope: :search, local: true, class: "nav navbar-nav navbar-left search_form") do |f| %>
      <%= f.text_field :address, class: "form-control", placeholder: "エリアで検索" %>
      <%= f.submit "検索", class: "btn" %>
    <% end %>
    <nav class="header-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to icon("fas", "user"), current_user, class: "user_icon header_icon" %></li>
          <li><%= link_to icon("fas", "store-alt", "投稿"), new_shop_path, class: "post_shop_icon header_icon" %></li>
          <li><%= link_to icon("fas", "door-open", "ログアウト"), logout_path, method: :delete, class: "logout_icon header_icon" %></li>
        <% else %>
          <li><%= link_to icon("fas", "user-plus", "新規登録"), signup_path, class: "signup_icon header_icon" %></li>
          <li><%= link_to icon("fas", "sign-in-alt", "ログイン"), login_path, class: "login_icon header_icon" %></li>
        <% end %>
      </ul>
    </nav>
    <div class="l-drawer">
      <input class="l-drawer_checkbox" id="drawerCheckbox" type="checkbox">
      <label class="l-drawer_icon" for="drawerCheckbox">
        <span class="l-drawer_icon-parts"></span>
      </label>
      <label class="l-drawer_overlay" for="drawerCheckbox"></label>
      <nav class="l-drawer_menu">
        <ul>
          <% if logged_in? %>
            <li><%= link_to icon("fas", "store-alt", "投稿"), new_shop_path %>
            <li><%= link_to icon("fas", "user", "プロフィール"), current_user %></li>
            <li><%= link_to icon("fas", "door-open", "ログアウト"), logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to icon("fas", "user-plus", "新規登録"), signup_path %></li>
            <li><%= link_to icon("fas", "sign-in-alt", "ログイン"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
