<header class="navbar navbar-fixed-top l-header">
  <div class="container">
    <%= link_to "ANIMAL CAFE", root_path, id: "logo" %>
    <%= form_with(url: shops_path, method: :get, scope: :search, local: true, class: "nav navbar-nav navbar-left search_form") do |f| %>
      <%= f.text_field :address, class: "form-control", placeholder: "エリアで検索" %>
      <%= f.submit "検索", class: "btn" %>
    <% end %>
    <nav class="header-nav">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to icon("fas", "plus", "Post"), new_shop_path, class: "post_shop_icon" %>
          <li><%= link_to icon("fas", "user"), current_user, class: "user_icon" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up now!", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="l-drawer">
      <input class="l-drawer_checkbox" id="drawerCheckbox" type="checkbox">
      <label class="l-drawer_icon" for="drawerCheckbox">
        <span class="l-drawer_icon-parts"></span>
      </label>
      <label class="l-drawer_overlay" for="drawerCheckbox"></label>
      <nav class="l-drawer_menu">
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "New post", new_shop_path %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up now!", signup_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
